<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="../../index2.html"></a>
        </div>
        <!-- /.login-logo -->
        <form #ngForm class="form form-register" action="" method="post">
            <div class="card">
                <div class="card-body login-card-body">
                    <p class="login-box-msg">Inicie sesion</p>

                    <div class="input-group mb-3 form-field">
                        <input type="email" class="form-control" placeholder="Correo" [(ngModel)]="user" name="usuario"
                            required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Contraseña" [(ngModel)]="password"
                            name="contrasena" ngModel required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember" name="remember" [(ngModel)]="remember">
                                <label for="remember">
                                    Recordar la sesion
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block" (click)="login()">Login</button>
                        </div>
                        <!-- /.col -->
                    </div>

                    <p class="mb-1">
                        <a href="forgot-password.html">Olvide mi contraseña</a>
                    </p>
                    <p class="mb-0">
                        <a href="register.html" class="text-center">Registro</a>
                    </p>
                </div>
                <!-- /.login-card-body -->
            </div>
        </form>
    </div>
    <!-- /.login-box -->

</body>